form.default {
	border: 1px solid grey;
	padding: 20px;
	display: inline-block;
}

form.default label {
	display: inline-block;
	width: 300px;
	margin-bottom: 5px;
}

form div.feedback-container {
	background: #F3D0D0;
	padding: 4px;
	margin-bottom: 10px;
}