form.default {
	border: 1px solid grey;
	padding: 20px;
	display: inline-block;
}

form.default label {
	display: inline-block;
	width: 250px;
	margin-bottom: 5px;
}

form.default input[type='text'],
form.default input[type='password'] {
    width: 300px;
}

form div.feedback-container {
	padding: 4px;
	margin-bottom: 10px;
}

form div.feedback-container.error {
    background: #FF9797;
}

form div.feedback-container.success {
    background: #BAE9BF;
}

form label.field-error {
    color: red;
    white-space: nowrap;
    width: auto;
}

form textarea {
	font-family: inherit;
	font-size: 1em;
}