div.profile-picture {
	float: left;
	margin-right: 20px;
}

div.profile-picture div.img-container {
	position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid lightgray;
    display: flex;
}

div.profile-picture input[type='file'] {
    width: 262px;
}

img.profile-picture {
	margin: auto;
	display: block;
    max-width: 300px;
    max-height: 300px;
}

div.profile-picture form.profile-picture-delete-form {
	display: inline-block;
	position: absolute;
	right: -2px;
	top: -2px;
}

div.profile-picture form.profile-picture-delete-form button {
	padding: 0;
}

div.profile-ownvotes ul {
	padding: 0;
}

div.profile-ownvotes ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 24px;
	display: flex;
	margin-top: 8px;
	margin-bottom: 8px;
}

div.profile-ownvotes ul li img {
	width: 24px;
	height: 24px;
    margin: auto 20px;
}

div.profile-ownvotes ul li a {
	line-height: 1.1em;
	margin: auto 0;
}

div.profile-ownvotes span.ownvotes-timestamp {
	white-space: nowrap;
	margin: auto 0;
}

h2 {
	margin-top: 50px;
	clear: both;
}