div.profile-picture {
	float: left;
	margin-right: 20px;
}

div.profile-picture div.img-container {
	position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid lightgray;
    display: flex;
}

img.profile-picture {
	margin: auto;
	display: block;
}

div.profile-picture form.profile-picture-delete-form {
	display: inline-block;
	position: absolute;
	right: -2px;
	top: -2px;
}

div.profile-picture form.profile-picture-delete-form button {
	padding: 0;
}

h2 {
	margin-top: 50px;
	clear: both;
}