<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" th:href="@{/css/forms.css}" />
</head>

<body>

	<div layout:fragment="content" class="content">
		<form action="#" th:action="@{/login}" method="post" class="default">
			<label>Email-Adresse:</label><input type="text" name="username" autofocus="autofocus" value="a" /><br/>
			<label>Passwort:</label><input type="password" name="password" /><br/>
			<input type="submit" value="Einloggen" />
		</form>
	</div>

</body>
</html>