<!DOCTYPE HTML>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:spring="http://www.springframework.org/tags">
<head>
	<title>Benutzerprofil</title>
</head>

<body>

	<div layout:fragment="content" class="content" th:with="isCurrentUser=${user.id eq #authentication.principal.id}">
		
		<h1 th:text="${user.forename}+' '+${user.surname}"></h1>
		<h2>Abgegebene Stimmen</h2>
		<div th:if="${ownvotes.totalElements > 0}">
			<div th:replace="components/commonComponents :: paging (url='/user/profile', page=${ownvotes})"></div>
			<ul>
				<li th:each="vote : ${ownvotes.content}">
					<a th:href="@{/topic/details(id=${vote.topicId})}">
						<img th:src="${'/img/vote-' + (vote.accepted?'accepted':(vote.rejected?'rejected':'abstention')) + '.svg'}" style="height: 26px;"/>
						<span th:text="${{vote.voteTimestamp}}"></span>
						<span th:text="${vote.topicTitle}"></span>
					</a>
				</li>
			</ul>
		</div>
		<span th:if="${ownvotes.totalElements == 0}">Es wurden noch keine Stimmen abgegeben.</span>
		
	</div>

</body>
</html>