<!DOCTYPE HTML>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:spring="http://www.springframework.org/tags">
<head>
	<title>Ansicht Abstimmung</title>
</head>

<body>

	<div layout:fragment="content" class="content">
		<form action="#" th:action="@{/topic/edit}" th:object="${topic}" method="post">
			<input type="hidden" name="id" th:field="*{id}" />
			<div class="box">
				<div class="title"><input type="text" th:field="*{title}" placeholder="Titel der Abstimmung" style="width: 100%" /></div>
				<div>
					<label>Deadline: </label><input type="text" th:field="*{Deadline}" placeholder="Ende der Abstimmung" /><br/>
					<textarea th:field="*{description}" placeholder="Beschreibung als HTML-codierter Text" style="width: 100%; height: 300px;"></textarea>
				</div>
				<div class="footer">
					<input type="submit" name="voteYes" th:value="${topic.id} ? 'Änderungen speichern' : 'Abstimmung starten'" />
				</div>
			</div>
		</form>
	</div>

</body>
</html>