<!DOCTYPE HTML>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:spring="http://www.springframework.org/tags">
<head>
	<title>Ansicht Abstimmung</title>
	<script th:src="@{/js/comment.js}"></script>
	<link rel="stylesheet" type="text/css" href="/css/base.css" th:href="@{/css/comment.css}" />
</head>

<body>

	<div layout:fragment="content" class="content">
	    <div class="box" th:object="${topic}">
	    	<div class="title" th:text="*{title}"></div>
	    	<div>
	    		<div class="details"><div th:text="'Author: '+*{author}"></div><div th:text="'Teilnehmer: '+*{participants}"></div>
	    		<div th:text="'Deadline: '+*{{deadline}}"></div></div>
	    		<span th:utext="*{description}"></span>
	    	</div>
			<div class="footer">
				<form th:if="*{running}" th:action="@{/topic/vote}" method="post" style="display: inline-block;">
					<input type="hidden" name="topicId" th:value="*{id}" />
					<input th:disabled="${(topicVote eq T(de.dema.pd3.VoteOption).ACCEPTED?true:false)}" type="submit" name="voteYes" value="Mit Ja stimmen" />
					<input th:disabled="${(topicVote eq T(de.dema.pd3.VoteOption).REJECTED?true:false)}" type="submit" name="voteNo" value="Mit Nein stimmen" />
					<input th:disabled="${(topicVote eq T(de.dema.pd3.VoteOption).ABSTENTION?true:false)}" type="submit" name="voteAbstention" value="Enthalten" />
				</form>
				<input type="button" value="Zur Übersicht" onclick="javascript: window.location.href = '/topic/overview'" />
			</div>
	    </div>
	    <br/>
	    <div>
	    	<form th:action="@{/topic/comment}" method="post">
				<input type="hidden" name="topicId" th:value="${topic.id}" />
				<div class="comment-and-replies">
				<div class="comment" style="padding-bottom: 0;">
					<img th:src="${'/img/user-round-'+((not #authentication.principal.male)?'fe':'')+'male-1.svg'}" class="usericon" />
					<div class="comment-textblock">
			    		<textarea name="text" class="comment" placeholder="Jetzt an der Diskussion teilnehmen und einen Kommentar abgeben"></textarea>
			   		</div>
		   		</div></div>
	    		<input type="submit" value="Kommentieren" style="margin-top: 3px;" />
	    	</form>
		    <br/>
			<div th:replace="components/commonComponents :: paging (url='/topic/details?id='+${topic.id}, page=${comments})"></div>
	    	<div th:each="comment : ${comments.content}" class="comment-and-replies">
	    		<div th:replace="components/commonComponents :: comment (model=${comment}, topicId=${topic.id}, pageIndex=${comments.number})"></div>
	    	</div>
	    </div>

		<div id="movingcommentpanel" class="comment reply" style="display:none;">
			<form th:action="@{/comment/reply}" method="post">
	  				<input type="hidden" name="topicId" th:value="${topic.id}" />
	  				<input type="hidden" name="page" th:value="${comments.number}" />
	  				<input type="hidden" name="commentId" />
				<img th:src="${'/img/user-round-'+((not #authentication.principal.male)?'fe':'')+'male-1.svg'}" class="usericon" />
				<div class="comment-textblock">
			   		<textarea name="text" class="comment" placeholder="Tragen Sie Ihre Antwort auf den Kommentar hier ein" autofocus="autofocus"></textarea>
					<a href="javascript: submitReply();" class="reply">Antwort absenden</a>
					<a href="javascript: hideMovingCommentPanel();" class="reply">Abbrechen</a>
				</div>
			</form>
		</div>
	</div>

</body>
</html>