<!DOCTYPE HTML>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:spring="http://www.springframework.org/tags">
<head>
	<title>&Uuml;bersicht Abstimmungen</title>
</head>

<body>

	<div layout:fragment="content" class="content">
        <h1>Auflistung aller laufenden Abstimmungen</h1>
		<div th:replace="components/commonComponents :: paging (url='/topic/overview', page=${page})"></div>
        <a th:href="@{/topic/details(id=${topic.id})}" th:each="topic : ${page.content}" class="undecorated">
            <div class="box">
                <div class="title" th:text="${topic.title}"></div>
                <div>
                    <div class="details">
                    	<div th:text="'Author: '+${topic.author}"></div>
                    	<div th:text="'Teilnehmer: '+${topic.participants}"></div>
                    	<div th:text="'Deadline: '+${{topic.deadline}}"></div>
                   	</div>
                    <span th:utext="${topic.description}"></span>
                </div>
            </div>
        </a>
	</div>

</body>
</html>