<!DOCTYPE HTML>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:spring="http://www.springframework.org/tags">

<body>

	<div th:fragment="paging (url, page)" class="paging" th:if="${page.totalPages > 1}">
		<a th:href="@{${url}(page=${page.number - 1})}" th:classappend="${page.first}?disabled">Zurück</a>
		<a th:href="@{${url}(page=${i})}" th:text="${i + 1}" th:classappend="${page.number eq i}?disabled" 
				th:each="i : ${#numbers.sequence(T(Math).max(T(Math).min(page.number, T(Math).min(page.number + 4, page.totalPages - 1)) - 5, 0), T(Math).min(page.number + 4, page.totalPages - 1))}"></a>
		<a th:href="@{${url}(page=${page.number + 1})}" th:classappend="${page.last}?disabled">Weiter</a>
	</div>

	<div th:fragment="comment (model, topicId, pageIndex)">
		<div class="comment" th:id="${'comment_'+model.id}">
			<img th:src="${'/img/user-round-'+(not model.authorGenderMale?'fe':'')+'male-1.svg'}" class="usericon" />
			<div class="comment-textblock">
		   		<a th:href="@{/user/profile(id=${model.authorId})}" th:text="${model.authorName}" class="author"></a>
		   		<span th:text="'am ' + ${{model.creationTimestamp}}" class="date"></span><br/>
		   		<div th:utext="${model.text}" class="text"></div>
		   		<a th:href="@{'javascript: showMovingCommentPanel('+${model.id}+','+${topic.id}+')'}" class="reply">Antworten</a>
	   			<form th:action="@{/comment/vote}" th:if="${not (model.authorId eq #authentication.principal.id)}" style="display: inline-block;" method="post">
	   				<input type="hidden" name="topicId" th:value="${topic.id}" />
	   				<input type="hidden" name="commentId" th:value="${model.id}" />
	   				<input type="hidden" name="page" th:value="${pageIndex}" />
	   				<input type="image" name="like" value="like" th:src="${'/img/thumb-up-'+(model.userLikeSelection == T(de.dema.pd3.VoteOption).ACCEPTED?'black':'white')+'.svg'}" 
	   						th:alt-title="Zustimmen" class="like" />
	   				<input type="image" name="dislike" th:src="${'/img/thumb-down-'+(model.userLikeSelection == T(de.dema.pd3.VoteOption).REJECTED?'black':'white')+'.svg'}" 
	   						th:alt-title="Ablehnen" class="like" />
	   			</form>
	   		</div>
   		</div>
   		<div th:if="${not #lists.isEmpty(model.replies)}" class="replies-container">
	    	<div th:each="reply : ${model.replies}">
	    		<div th:replace="components/commonComponents :: comment (model=${reply}, topicId=${topicId}, pageIndex=${pageIndex})"></div>
	    	</div>
   		</div>
	</div>
	
</body>
</html>