<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Neues Passwort vergeben</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" th:href="@{/css/forms.css}" />
</head>

<body>

	<div layout:fragment="content" class="content">
	   <h1>Neues Passwort vergeben</h1>
		<form th:action="@{/public/change-password}" method="post" class="default" th:object="${passwordChangeModel}">
            <div class="feedback-container error" th:if="${#fields.hasErrors('*')}" th:each="err : ${#fields.errors('*')}" th:text="${err}"></div>
            <div class="feedback-container success" th:if="${success}">Sie haben Ihr Passwort erfolgreich geändert.</div>
			<input type="hidden" name="id" th:field="*{userId}" />
			<input type="hidden" name="id" th:field="*{token}" />
			<label>Neues Passwort:</label><input type="password" name="password" th:field="*{password}" autofocus="autofocus" th:disabled="${success}" /><br/>
			<label>Passwort wiederholen:</label><input type="password" name="passwordRepeat" th:field="*{passwordRepeat}" th:disabled="${success}" /><br/>
			
			<input type="submit" value="Passwort ändern" th:disabled="${success}" />
		</form>
	</div>

</body>
</html>