<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Neues Passwort setzen</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" th:href="@{/css/forms.css}" />
</head>

<body>

	<div layout:fragment="content" class="content">
		<form th:action="@{/public/change-password}" method="post" class="default">
			<div class="feedback-container" th:if="${unequal}">Die beiden Angaben stimmten nicht überein.</div>
			<input type="hidden" name="id" th:value="${param.id[0]}" />
			<label>Neues Passwort:</label><input type="password" name="password" autofocus="autofocus" /><br/>
			<label>Passwort wiederholen:</label><input type="password" name="passwordRepeat" /><br/>
			
			<input type="submit" value="Passwort ändern" />
		</form>
	</div>

</body>
</html>