<!DOCTYPE HTML>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Passwort zurücksetzen</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" th:href="@{/css/forms.css}" />
</head>

<body>

	<div layout:fragment="content" class="content">
		<h1>Passwort zurücksetzen</h1>
		<p>Sie haben Ihr Passwort vergessen? Kein Problem. Tragen Sie einfach im unteren Eingabefeld Ihre Email-Adresse ein, mit der
				Sie sich hier registriert haben. Wenn wir Ihrer angegebenen Email-Adresse Ihr Benutzerkonto zuordnen konnten, erhalten
				Sie anschließend umgehend eine Email mit einem Link, mit dem Sie das Zurücksetzen Ihres Passworts bestätigen können.
				Nachdem Sie auf den Link geklickt haben, gelangen Sie zu einer Seite, auf der Sie Ihr neues Passwort eintragen können.</p> 
		<form action="#" th:action="@{/public/forgot-password}" method="post" class="default">
			<div class="feedback-container error" th:if="${param.error}">Es ist ein Fehler aufgetreten. Bitte versuchen Sie es erneut.</div>
            <div class="feedback-container error" th:if="${invalid}">Die Email-Adresse ist ungültig.</div>
            <div class="feedback-container success" th:if="${success}">Eine Email wurde an die angegebene Adresse gesendet.</div>
			<label>Email-Adresse:</label><input type="text" name="email" autofocus="autofocus" th:value="${email}" th:disabled="${success}" /><br/>
			<input type="submit" value="Passwort zurücksetzen" th:disabled="${success}" />
		</form>
	</div>

</body>
</html>