<!DOCTYPE HTML>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Registrieren</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" th:href="@{/css/forms.css}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

	<div layout:fragment="content" class="content">
        <h1>Registrierungsformular</h1>

		<form action="#" th:action="@{/public/register}" th:object="${registerUserModel}" method="post" class="default">
			<label>E-Mail-Adresse:</label><input type="text" th:field="*{email}" /> <label th:errors="*{email}" class="field-error"></label><br/>
			<label>Passwort:</label><input type="password" th:field="*{password}" /> <label class="field-error"></label><br/>
			<label>Passwort wiederholen:</label><input type="password" th:field="*{passwordRepeat}" /> <label th:errors="*{passwordRepeat}" class="field-error"></label><label th:errors="*{global}" class="field-error"></label><br/>
			<label>Vorname:</label><input type="text" th:field="*{forename}" /> <label th:errors="*{forename}" class="field-error"></label><br/>
			<label>Nachname:</label><input type="text" th:field="*{surname}" /> <label th:errors="*{surname}" class="field-error"></label><br/>
			<label>Straße und Hausnummer:</label><input type="text" th:field="*{street}" /> <label th:errors="*{street}" class="field-error"></label><br/>
			<label>PLZ:</label><input type="text" th:field="*{zip}" /> <label th:errors="*{zip}" class="field-error"></label><br/>
			<label>Ort:</label><input type="text" th:field="*{district}" /> <label th:errors="*{district}" class="field-error"></label><br/>
			<label>Telefon:</label><input type="text" th:field="*{phone}" /> <label th:errors="*{phone}" class="field-error"></label><br/>
			<label>Geburtsdatum (TT.MM.JJJJ):</label><input type="text" th:field="*{birthday}" /> <label th:errors="*{birthday}" class="field-error"></label><br/>
			<label>Personalausweisnummer:</label><input type="text" th:field="*{idCardNumber}" /> <label th:errors="*{idCardNumber}" class="field-error"></label><br/>
			<input type="submit" value="Registrieren" />			
		</form>
		
	</div>

</body>
</html>