<!DOCTYPE HTML>
<html layout:decorator="layout/default" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Registrieren</title>
	<link rel="stylesheet" type="text/css" href="/css/base.css" th:href="@{/css/forms.css}" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>

<body>

	<div layout:fragment="content" class="content">

		<form action="#" th:action="@{/public/register}" th:object="${registerUserModel}" method="post" class="default">
			<label>E-Mail-Adresse:</label><input type="text" th:field="*{email}" /> <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label><br/>
			<label>Passwort:</label><input type="password" th:field="*{password}" /> <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label><br/>
			<label>Passwort wiederholen:</label><input type="password" th:field="*{passwordRepeat}" /> <label th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}"></label><br/>
			<label>Vorname:</label><input type="text" th:field="*{forename}" /> <label th:if="${#fields.hasErrors('forename')}" th:errors="*{forename}"></label><br/>
			<label>Nachname:</label><input type="text" th:field="*{surname}" /> <label th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></label><br/>
			<label>Straße und Hausnummer:</label><input type="text" th:field="*{street}" /> <label th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></label><br/>
			<label>PLZ/Ort:</label><input type="text" th:field="*{zip}" /> <input type="text" th:field="*{district}" /> <label th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></label> <label th:if="${#fields.hasErrors('district')}" th:errors="*{district}"></label><br/>
			<label>Telefon:</label><input type="text" th:field="*{phone}" /> <label th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></label><br/>
			<label>Geburtsdatum (TT.MM.JJJJ):</label><input type="text" th:field="*{birthday}" /> <label th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></label><br/>
			<label>Personalausweisnummer:</label><input type="text" th:field="*{idCardNumber}" /> <label th:if="${#fields.hasErrors('idCardNumber')}" th:errors="*{idCardNumber}"></label><br/>
			<input type="submit" value="Registrieren" />			
		</form>
		
	</div>

</body>
</html>